
__pycache__/
__pypackages__/
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.cache
.coverage
.coverage.*
.directory
.dmypy.json
.eggs/
.fuse_hidden*
.history/
.hypothesis/
.idea
.installed.cfg
.ionide
.mypy_cache/
.nfs*
.nox/
.pyre/
.pytest_cache/
.Python
.pytype/
.ruff_cache/
.scrapy
.tox/
.Trash-*
.venv
.vscode/*
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
*.cover
*.egg
*.egg-info/
*.env
*.mo
*.pot
*.py,cover
*.py[cod]
*.so
**/*.db
**/*.db-journal
**/legacy_cogs/
*~
*$py.class
/site
#pyrightconfig.json
build/
cover/
coverage.xml
cython_debug/
data/
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
ipython_config.py
lib/
lib64/
logs/
MANIFEST
nosetests.xml
parts/
pip-selfcheck.json
poetry.toml
profile_default/
pyvenv.cfg
sdist/
share/python-wheels/
var/
venv.bak/
venv/
voices/
wheels/