# ==== Database ==== #
DATABASE_CONFIG__HOST="127.0.0.1"
DATABASE_CONFIG__PORT=5432
DATABASE_CONFIG__USER="postgres"
DATABASE_CONFIG__PASSWORD="****"
DATABASE_CONFIG__NAME="postgres"
DATABASE_CONFIG__DRIVER="postgresql+asyncpg"

# ==== File logging ==== #
LOGGER__FILE_LOGGING__ENABLED=true
LOGGER__FILE_LOGGING__DIRECTORY="logs/"
LOGGER__FILE_LOGGING__ENCODING="utf-8"

# ==== Console Logging ==== #
LOGGER__CONSOLE_LOGGING__RICH_TRACEBACKS_ENABLED=true
LOGGER__CONSOLE_LOGGING__LEVEL=INFO
LOGGER__CONSOLE_LOGGING__MARKUP_ENABLED=true

# ==== Logger (Root) ==== #
LOGGER__LEVEL=DEBUG

# ==== Tokens ==== #
TOKEN_CONFIG__DISCORD_TOKEN="****"
TOKEN_CONFIG__LMSTUDIO_TOKEN="****"
TOKEN_CONFIG__OPENAI_API_KEY="****"
TOKEN_CONFIG__OPENROUTER_API_KEY="****"

# ==== Tracing ==== #
TRACE_CONFIG__ENABLED=true
TRACE_CONFIG__OPENTELEMETRY_ENDPOINT="http://127.0.0.1:4317"
TRACE_CONFIG__LOKI_URL="http://127.0.0.1:3100/loki/api/v1/push"
TRACE_CONFIG__PROMETHEUS_SERVER_PORT=8001
TRACE_CONFIG__INSECURE=true
TRACE_CONFIG__SAMPLING_RATIO=1.0
TRACE_CONFIG__EXPORT_INTERVAL_MS=15000
TRACE_CONFIG__MAX_BATCH_SIZE=512

# ==== LLM ==== #
LLM_CONFIG__MODEL_ID="openrouter/free"

# ==== Miscellaneous ==== #
BOT_NAME=TehBot
DEFAULT_LANGUAGE=en
BOT_PREFIX="pox/"
ENVIRONMENT=development