# ==== Database ==== #
DATABASE_CONFIG__HOST="127.0.0.1"
DATABASE_CONFIG__PORT=5432
DATABASE_CONFIG__USER="postgres"
DATABASE_CONFIG__PASSWORD="****"
DATABASE_CONFIG__NAME="postgres"
DATABASE_CONFIG__DRIVER="postgresql+asyncpg"

# ==== File logging ==== #
LOGGER__FILE_LOGGING_ENABLED=true
LOGGER__FILE_LOGGING_DIRECTORY="logs/"
LOGGER__FILE_LOGGING_ENCODING="utf-8"

# ==== Console Logging ==== #
LOGGER__CONSOLE_LOGGING_RICH_TRACEBACKS_ENABLED=true
LOGGER__CONSOLE_LOGGING_LEVEL=INFO
LOGGER__CONSOLE_LOGGING_MARKUP_ENABLED=true

# ==== Tokens ==== #
TOKEN_CONFIG__DISCORD_TOKEN="****"
TOKEN_CONFIG__LMSTUDIO_TOKEN="****"
TOKEN_CONFIG__OPENAI_API_KEY="****"
TOKEN_CONFIG__OPENROUTER_API_KEY="****"

# ==== Tracing ==== #
TRACE_CONFIG__ENABLED=true
TRACE_CONFIG__OPENTELEMETRY_ENDPOINT="http://localhost:4317"
TRACE_CONFIG__PROMETHEUS_PORT=8001
TRACE_CONFIG__INSECURE_SERVER=true
TRACE_CONFIG__SAMPLING_RATIO=1.0
TRACE_CONFIG__EXPORT_INTERVAL_MS=15000
TRACE_CONFIG__BATCH_SIZE=512

# ==== LLM ==== #
LLM_CONFIG__MODEL_ID="openrouter/owl-alpha"

# ==== Miscellaneous ==== #
BOT_NAME=TehBot
DEFAULT_LANGUAGE=en
BOT_PREFIX="pox/"
